name: Upload coverage reports to Codecov

on:
  push:
    paths-ignore:
      - "docs/**"
    branches-ignore:
      - "release-**"

  pull_request:
    paths-ignore:
      - "docs/**"
    branches-ignore:
      - "release-**"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python 3.13
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Upgrade pip tooling
        run: python -m pip install --upgrade pip setuptools wheel

      - name: Install dependencies
        run: pip install -r requirements-dev.txt

      - name: Install editable package
        run: pip install -e .

      - name: Run tests and collect coverage
        run: pytest --cov=async_bakalari_api --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4.2.0
        with:
          flags: smart-tests
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
